In [ ]:
1. Load a CSV file into a Pandas DataFrame.

In [3]:
import pandas as pd
import numpy as np

In [ ]:
a=pd.read_csv('homelessness.csv')
print(a)

In [ ]:
2. Create a DataFrame from a NumPy array with custom column names.

In [7]:
numpy_array = np.array([[1, 2, 3], 
                        [4, 5, 6], 
                        [7, 8, 9]])

In [18]:
a=pd.DataFrame(numpy_array,columns=['a','b','c'])

In [19]:
a

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [ ]:
3. Select rows from a DataFrame based on multiple conditions.

In [80]:
data = {'Name': ['Teodosija', 'Sutton', 'Taneli', 'Ravshan', 'Ross'],
        'Age': [26, 32, 25, 31, 28],
        'Salary': [50000, 60000, 45000, 70000, 55000]}
a=pd.DataFrame(data)
np.multiply(a['Age'],2)

0    52
1    64
2    50
3    62
4    56
Name: Age, dtype: int64

In [30]:
a['Age']>26

0    False
1     True
2    False
3     True
4     True
Name: Age, dtype: bool

In [59]:
b=a[(a['Age']>25)|(a['Salary']>50000)]

In [60]:
print(b)

        Name  Age  Salary
0  Teodosija   26   50000
1     Sutton   32   60000
3    Ravshan   31   70000
4       Ross   28   55000

In [ ]:
4. Select the first and last 7 rows of a Pandas DataFrame.

In [67]:
import pandas as pd

# Create a sample DataFrame
data = {'Name': ['Teodosija', 'Sutton', 'Taneli', 'Ravshan', 'Ross', 'Alice', 'Bob', 'Charlie', 'David', 'Emily'],
        'Age': [26, 32, 25, 31, 28, 22, 35, 30, 40, 28],
        'Salary': [50000, 60000, 45000, 70000, 55000, 60000, 70000, 55000, 75000, 65000]}
a=pd.DataFrame(data)

In [69]:
a.head(2)

        Name  Age  Salary
0  Teodosija   26   50000
1     Sutton   32   60000

In [82]:
data = {'Name': ['Teodosija', 'Sutton', 'Taneli', 'Ravshan', 'Ross'],
        'Age': [26, 32, 25, 31, 28],
        'Salary': [50000, 60000, 45000, 70000, 55000]}
a=pd.DataFrame(data)

a[b]=np.multiply(a['Age'],2)

In [83]:
a

        Name  Age  Salary  52  64  50  62  56
0  Teodosija   26   50000  52  64  50  62  56
1     Sutton   32   60000  52  64  50  62  56
2     Taneli   25   45000  52  64  50  62  56
3    Ravshan   31   70000  52  64  50  62  56
4       Ross   28   55000  52  64  50  62  56